#computer-nav {
   width: 100%;
   height: 2rem;
   position: absolute;
   bottom: 0;
   left: 0;
   user-select: none;
}
.ct-95 #computer-nav {
   background-color: #ccc;
}
.ct-xp #computer-nav {
   background-image: linear-gradient(to right, #77a9ce 0%, #2d7db5 25%, #2d7db5 75%, #77a9ce 100%);
}

.application-segment {
   float: left;
   cursor: pointer;
}
.ct-95 .application-segment {
   height: calc(100% - 8px);
   background-color: #ccc;
   margin-top: 2px;
   border: 2px solid;
   border-top-color: #eee;
   border-left-color: #eee;
   border-bottom-color: #888;
   border-right-color: #888;
   box-shadow: 0 -2px 0 0 #fff, -2px 0 0 0 #fff, -2px -2px 0 0 #fff, 0 2px 0 0 #000, 2px 0 0 0 #000, 2px 2px 0 0 #000;
}

/***** START ICON *****/
#start-icon {
   height: 100%;
   float: left;
   cursor: pointer;
}
.ct-95 #start-icon {
   padding: 0 0.2rem;
   margin: 2px 0.2rem 0 2px;
}
.ct-95 #start-icon:hover {
   background-color: #d5d5d5;
}
.ct-95 #start-icon:active {
   background-color: #c5c5c5;
}
.ct-95 #start-icon .img {
   --size: calc(2rem - 8px);
   width: var(--size);
   height: var(--size);
   background-image: url(../images/win95/win95-start-icon.png);
   background-size: var(--size) var(--size);
   float: left;
}
.ct-95 #start-icon .text {
   font-family: 'MS Sans Serif';
   font-weight: bold;
   margin-left: 0.2rem;
   margin-top: -0.25rem;
   float: right;
}

.ct-95 .application {
   min-width: 10rem;
   margin-left: 0.3rem;
}
.ct-xp .application {
   border: 1px solid rgba(243, 248, 252, 0.6);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   border-bottom: none;
   padding: 0.1em 0.8rem;
   margin-right: 0.2rem;
}

.application :is(img, .text) {
   float: left;
}
.ct-95 .application img {
   margin-left: 0.2rem;
}
.ct-95 .application .text {
   font-family: 'MS Sans Serif';
   margin-left: 0.2rem;
}

.application.closed {
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.application.closed:hover {
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.application:not(.closed) {
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, transparent 100%);
}

.application-icon {
   width: 1.8em;
}

#computer .application:active {
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, transparent 100%);
}

.application-icon:not(:active) {
   animation: iconJump 0.6s linear;
}

@keyframes iconJump {
   0% {
      margin-top: 0em;
   }
   20% {
      margin-top: -0.3em;
   }
   30% {
      margin-top: -0.3em;
   }
   100% {
      margin-top: 0em;
   }
}