/* Mainly for popups with a small css footprint */

/* MICROSOFT ANTIVIRUS */
#microsoft-antivirus {
    width: 25em;
}
#microsoft-antivirus-clicked {
    max-width: 15em;
}

/* BROWSER ERROR */
#browser-error {
    width: 25em;
}

/* RAM DOWNLOAD */
#ram-download {
    width: 20em;
}
#ram-download-button {
    margin-top: 0.5em;
}

/* ANNUAL SURVEY */
#annual-survey {
    width: 20em;
    top: 1em;
    left: 1em;
}
#annual-survey input {
    font-family: "Windows";
    font-size: 1em;
    display: block;
    padding: 0.1em 0.3em;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 0.6em;
}
#annual-survey input::placeholder {
    font-style: italic;
}

/* ADBLOCK BLOCKER */
#adblock-blocker {
    width: 25em;
}
#adblockExit.invisible {
    opacity: 0;
    cursor: default !important;
}
#ad1 {
    left: 25%;
    top: 75%;
    transform: translate(-50%, -50%);
}
#ad2 {
    left: 80%;
    top: 75%;
    transform: translate(-50%, -50%);
}
#ad2 div.display-container img {
    max-width: 30vw;
}
#ad3 {
    left: 70%;
    top: 10%;
    transform: translate(-50%, -50%);
}
#ad3 div.display-container img {
    width: 12em;
}
#ad4 {
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
}
#ad4 div.display-container img {
    width: 17em;
}
#ad5 {
    left: 2em;
    top: 2em;
}
#ad5 div.display-container img {
    width: 23em;
}

/* RAIN */
#rain {
    width: 8em;
    left: 25%;
    top: 10%;
}
#rainCode {
    color: rgb(0, 255, 0);
}

/* BANK DETAILS */
#bank-details-input {
    display: table;
    margin-bottom: 0.5rem;
}
#bank-details-error {
    color: red;
}

/* EXPANDINATOR */
#expandinator {
    width: 15em;
}
#expandinator .display-container {
    height: 100%;
}
#expandinator .button-container {
    position: absolute;
    bottom: 1em;
    left: 0;
}
#expandinator-timer {
    margin-bottom: 2em;
}