@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html, body {
   padding: 0;
   margin: 0;
   overflow: hidden;
}


.hidden {
   display: none !important;
}

#chat {
   font-family: "Rubik";
   width: 20rem;
   max-height: 7rem;
   position: absolute;
   bottom: 2rem;
   left: 10px;
   overflow: scroll;
}
#chat .entry {
   background-color: #eee;
   margin: 1px 0;
}

#loot-notice {
   font-family: "Rubik";
   width: 15rem;
   max-height: 10rem;
   position: absolute;
   top: 0.5rem;
   left: 0.5rem;
}
.loot-entry {
   background-color: #eee;
   margin: 1px 0;
   animation: lootEntryAnimation 5s ease-in-out forwards;
}
@keyframes lootEntryAnimation {
   0% {
      opacity: 0;
      transform: translateX(-1rem);
   }
   5% {
      opacity: 1;
      transform: translateX(0);
   }
   95% {
      opacity: 1;
      transform: translateX(0);
   }
   100% {
      opacity: 0;
      transform: translateX(1rem);
   }
}

#sidebar {
   font-family: "Rubik";
   font-size: 1.05rem;
   background-color: rgba(0, 0, 0, 0.1);
   border: 1px solid #444;
   padding: 0.1rem 0.25rem;
   position: fixed;
   top: 50%;
   right: 0;
   text-shadow: 0 0 2px #fff;
   z-index: 5;
}
#sidebar p {
   color: #000;
   margin: 0;
   line-height: 1.3rem;
}

#combat-box {
   padding: 5px;
   border: 2px solid #000;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 4;
}
#virus-name {
   text-align: center;
   margin-bottom: 5px;
   margin-left: 50%;
   display: inline-block;
   transform: translateX(-50%);
}
#virus-health {
   float: right;
}
#virus-box {
   min-width: 20rem;
   min-height: 8rem;
   border: 2px solid #000;
   position: relative;
   overflow: hidden;
}
#virus-img {
   width: 64px;
   height: 64px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 6;
}
#virus-img.hit {
   animation: virus-hit 0.2s ease-in-out forwards;
}
@keyframes virus-hit {
   0% {
      opacity: 0.2;
   }
   100% {
      opacity: 1;
   }
}
#combat-box button {
   font-size: 1rem;
   border: 2px solid #000;
   margin: 5px 0 0 50%;
   transform: translateX(-50%);
   cursor: pointer;
}
#combat-box .combat-text {
   position: absolute;
   pointer-events: none;
}



/***** PHISHING *****/
#bobber {
   --size: 16px;
   width: 5px;
   height: 5px;
   background-color: #fff;
   border: 1px solid #000;
   border-radius: 100%;
   position: absolute;
   transform: translate(-50%, -50%);
   animation: bobber-fade 2s linear infinite;
   box-shadow: 0 0 8px 2px #000;
   z-index: 2;
   pointer-events: none;
}
@keyframes bobber-fade {
   0% {
      box-shadow: 0 0 8px 2px #000;
   }
   50% {
      box-shadow: 0 0 8px 2px #bbb;
   }
   100% {
      box-shadow: 0 0 8px 2px #000;
   }
}
#bobber.splash {
   animation: bobber-splash 0.8s forwards ease-in-out;
}
@keyframes bobber-splash {
   0% {
      opacity: 0.8;
   }
   30% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;
   }
}
#bobber.exit {
   animation: bobber-exit 0.5s forwards ease-in-out;
}
@keyframes bobber-exit {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
#bobber.bobbing {
   animation: bobber-bob 0.5s forwards ease-in-out;
}
@keyframes bobber-bob {
   0% {
      opacity: 1;
   }
   15% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

#splash {
   position: absolute;
   transform: translate(-50%, -50%);
   background-image: radial-gradient(#fff 30%, rgba(0, 0, 0, 0.3) 50%, #fff 70%);
   animation: splash-entrance 1s cubic-bezier(0,.39,.5,.97) forwards;
   z-index: 1;
   pointer-events: none;
}
@keyframes splash-entrance {
   0% {
      width: 5px;
      height: 5px;
      opacity: 1;
   }
   100% {
      width: 75px;
      height: 75px;
      opacity: 0;
   }
}

.dot {
   width: 5px;
   height: 5px;
   background-color: red;
   position: absolute;
   transform: translate(-50%, -50%);
   pointer-events: none;
}

#fish {
   width: 7px;
   height: 7px;
   background-color: blue;
   border-radius: 100%;
   position: absolute;
   transform: translate(-50%, -50%);
   pointer-events: none;
}

#open-menu {
   position: absolute;
   bottom: 0.2rem;
   right: 0.2rem;
}
.menu-panel {
   font-family: "Rubik";
   border: 2px solid #888;
   border-radius: 2px;
   padding: 4px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.menu-panel button {
   margin-left: 50%;
   transform: translateX(-50%);
}
.menu-panel .item {
   --size: 4rem;
   width: var(--size);
   height: var(--size);
   background-color: #eee;
   padding: 1px;
   margin: 2px;
   border: 1px solid #999;
   display: inline-block;
   cursor: pointer;
   position: relative;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   box-shadow: 0 0 0 1px #d2d2d2;
}
.menu-panel .item:hover {
   background-color: #f4f4f4;
}
.menu-panel .item:active {
   background-color: #e5e5e5;
}
.item.dark {
   background-color: #ddd !important;
   border-color: #888 !important;
}
.menu-panel .label {
   font-size: 0.85rem;
   position: absolute;
   top: -3px;
   left: 0;
   opacity: 0.75;
   z-index: 1;
}
.item:hover .label {
   opacity: 1;
   z-index: 2;
}

.menu-panel p {
   text-align: center;
   margin: 0.1rem 0 0.3rem;
}
.menu-panel .img {
   --size: 40px;
   width: var(--size);
   height: var(--size);
   background-size: var(--size) var(--size);
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   pointer-events: none;
}
.menu-panel img {
   --size: 40px;
   width: var(--size);
   height: var(--size);
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   pointer-events: none;
}

#hover-tool {
   font-family: "Rubik";
   background-color: rgba(245, 245, 245, 0.85);
   border: 1px solid #777;
   padding: 0 0.1rem;
   position: absolute;
   pointer-events: none;
   transform: translateY(-50%);
}
#hover-tool p {
   margin: 0;
   line-height: 1.2rem;
}

.drkgrn {
   color: rgb(13, 109, 0);
}
.grn {
   color: rgb(27, 230, 0);
}
.red {
   color: rgb(209, 0, 0);
}
.ong {
   color: rgb(231, 158, 0);
}
.aqu {
   color: rgb(0, 127, 136);
}

.button-container {
   display: flex;
   justify-content: center;
}
.button-container button {
   margin: 0 5px !important;
   transform: none !important;
}

#menu-upgrades-upgrade-viewer .spread {
   margin: 0.5rem 0;
   display: flex;
   justify-content: space-between;
}
#menu-upgrades-upgrade-viewer img {
   margin: 0 10px;
   position: relative;
   left: 0;
   transform: none;
}

button {
   font-family: "Rubik";
   font-weight: bold;
   font-size: 0.95rem;
   background-color: #e5e5e5;
   padding: 0.1rem 0.3rem;
   border: 1px solid #000;
   border-radius: 0;
   box-shadow: 0 0 0 1px #999;
   cursor: pointer;
}
button:hover {
   background-color: #eee;
}
button:active {
   background-color: #e0e0e0;
}
button.dark {
   color: #444;
   background-color: #d0d0d0;
   cursor: default;
}

#tutorial {
   background-color: #f3f3f3;
   border-radius: 3px;
   position: absolute;
   left: 50%;
   bottom: 5rem;
   transform: translateX(-50%);
   box-shadow: 1px 2px 
}
#tutorial img {
   /* width: 16px; */
}